.suggestion-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 8px;
  position: absolute;
  top: 45px;
  background-color: #FFFFFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &__clickable-div {
    all: unset;
    cursor: pointer;
  }
}